<div class="green-background">
  <div class="card-container">
    <nz-card class="shadow card-wrapper">
      <form
        nz-form
        nzLayout="vertical"
        [formGroup]="form"
        (ngSubmit)="handleRequest()"
      >
        <h2 class="text-center mt-2">
          <div class="logo text-center mb-4">
            <img src="./assets/images/reset-password.png" width="170px" />
          </div>
        </h2>

        <br />
        <nz-form-item>
          <nz-form-label nzFor="lock">Nova senha</nz-form-label>
          <nz-form-control
            [nzErrorTip]="
              form.get('senha').hasError('required')
                ? 'Informe uma senha!'
                : null
            "
          >
            <nz-input-group nzPrefixIcon="lock" [nzSuffix]="passwordSuffixTemplate">
              <input
                placeholder="Senha"
                [type]="visiblePassword ? 'text' : 'password'"
                formControlName="senha"
                nz-input
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <ng-template #passwordSuffixTemplate>
          <i
            nz-icon
            [nzType]="visiblePassword ? 'eye-invisible' : 'eye'"
            (click)="visiblePassword = !visiblePassword"
          ></i>
        </ng-template>

        <nz-form-item>
          <nz-form-label nzFor="senha">Confirmar senha</nz-form-label>
          <nz-form-control
            [nzErrorTip]="
              form.get('passwordConfirm').hasError('required')
                ? 'Informe uma senha!'
                : null
            "
          >
            <nz-input-group nzPrefixIcon="lock" [nzSuffix]="passwordConfirmSuffixTemplate">
              <input
                [type]="visibleConfirmPassword ? 'text' : 'password'"
                placeholder="Confirmar senha"
                formControlName="passwordConfirm"
                nz-input
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <ng-template #passwordConfirmSuffixTemplate>
          <i
            nz-icon
            [nzType]="visibleConfirmPassword ? 'eye-invisible' : 'eye'"
            (click)="visibleConfirmPassword = !visibleConfirmPassword"
          ></i>
        </ng-template>

        <button
          nz-button
          class="btn-unicasu-primary mt-2"
          nzBlock
          nzSize="large"
          [nzLoading]="loading"
        >
          Confirmar
        </button>
      </form>
    </nz-card>
  </div>
</div>
