<div class="d-flex container-fluid p-0 login-container">
  <div class="row no-gutter">
    <div class="col-md-6 d-none d-md-flex bg-image">
      <img src="./assets/images/login-background.png" class="img-fluid w-100" />
    </div>

    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-xl-8 mx-auto">
              <nz-card class="shadow card-style">
                <form
                  nz-form
                  nzLayout="vertical"
                  (ngSubmit)="handleLogin()"
                  [formGroup]="form"
                >
                  <h2 class="text-center">
                    <div class="logo text-center mb-5">
                      <img src="./assets/images/logo.png" alt="Unicasu Logo" />
                    </div>
                  </h2>

                  <nz-form-item>
                    <nz-form-label nzFor="email">E-mail</nz-form-label>
                    <nz-form-control
                      [nzErrorTip]="
                        form.get('email').hasError('required')
                          ? 'Informe um e-mail!'
                          : null || form.get('email').hasError('email')
                          ? 'E-mail inválido!'
                          : null
                      "
                    >
                      <nz-input-group nzPrefixIcon="mail">
                        <input type="text" formControlName="email" nz-input />
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>

                  <nz-form-item>
                    <nz-form-label nzFor="senha">Senha</nz-form-label>
                    <nz-form-control nzErrorTip="Informe uma senha!">
                      <nz-input-group
                        nzPrefixIcon="lock"
                        [nzSuffix]="passwordSuffixTemplate"
                      >
                        <input
                          nz-input
                          [type]="visiblePassword ? 'text' : 'password'"
                          formControlName="senha"
                        />
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                  <ng-template #passwordSuffixTemplate>
                    <i
                      nz-icon
                      [nzType]="visiblePassword ? 'eye-invisible' : 'eye'"
                      (click)="visiblePassword = !visiblePassword"
                    ></i>
                  </ng-template>

                  <div class="row" style="margin-bottom: 17px">
                    <div class="d-flex justify-content-between col-md-12">
                      <label nz-checkbox>
                        <span>Lembrar da senha</span>
                      </label>

                      <a
                        class="unicasu-primary-color"
                        routerLink="/forgot-password"
                        >Esqueci a senha</a
                      >
                    </div>
                  </div>

                  <button
                    nz-button
                    class="btn-unicasu-primary"
                    nzBlock
                    nzSize="large"
                    [nzLoading]="loading"
                  >
                    Entrar
                  </button>
                </form>

                <span
                  class="text-center d-flex justify-content-center align-items-center mt-4 unicasu-primary-color"
                  (click)="gotoTermoUso()"
                  style="
                    text-decoration: underline;
                    font-weight: 700;
                    font-size: 12px;
                    cursor: pointer;
                  "
                  >Termos e Condições de uso do aplicativo e aviso de
                  privacidade</span
                >
              </nz-card>

              <nz-modal
                [(nzVisible)]="termoUsoVisible"
                [nzFooter]="termoUsoFooter"
                (nzOnCancel)="termoUsoVisible = false"
                nzTitle="Termo de Uso"
                nzWidth="640px"
                [style.height.px]="400"
              >
                <ng-container *nzModalContent>
                  <app-termo-uso style="height: 400px;"></app-termo-uso>
                </ng-container>
                <ng-template #termoUsoFooter>
                  <button
                    nz-button
                    class="btn-unicasu-primary mt-4"
                    (click)="handleCloseModal()"
                    nzBlock
                    nzSize="large"
                  >
                    Concordo com o Termo de Uso
                  </button>
                </ng-template>
              </nz-modal>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
