.content-terms-uso  {
  height: 400px;
 overflow: auto;
}
.content-terms-uso h1 {
  text-align: center;
  font-family: "Mukta";
  font-weight: 800;
  color: #228765;
  font-size: 20px;
  line-height: normal;
}

.content-terms-uso p {
  overflow: auto;
  color: #1A1A1A;
  text-align: left;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.content-terms-uso a {
  text-align: left;
  font-family: "Mukta";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
