<div class="content-terms-uso">
  <h1> TERMO DE CONSENTIMENTO DE ACORDO COM A LEI GERAL DE PROTEÇÃO DE DADOS
    - LGPD</h1> <br />
    <p>
      Estamos empenhados em salvaguardar a sua privacidade ao estabelecer
      esta relação conosco. Este termo tem a finalidade de deixar o mais claro
      possível   a   nossa   política   de   coleta   e   compartilhamento   de   dados,
      informando sobre os dados coletados e como os utilizamos.<br/><br/>

      Ao   utilizar   os   nossos   serviços,   você   declara   o   seu  EXPRESSO
      CONSENTIMENTO  para coletarmos, tratarmos e armazenarmos dados
      sobre você quando julgarmos necessários à prestação de nossos serviços,
      tais como: <br/> <br/>

      • Informações que você oferece. Coletamos os dados fornecidos por
      você no cadastro, tais como nome  e sobrenome, endereço para
      correspondência,   endereço   de   e-mail,   informações   de
      pagamento, endereço IP, palavras-chaves utilizadas em uma
      busca,   compartilhamento   de   um   documento   específico,
      comentários, visualizações de páginas, perfis, a URL de onde o
      usuário e visitante provêm, o navegador que utilizam e seus
      IPs de acesso, dentre outras que poderão ser armazenadas e
      retidas, bem como outras informações de contato on-line ou
      número de telefone, foto e demais informações requeridas no
      cadastro ou vinculados às mídias utilizados no login. <br/><br/>

      • Comunicação.  Podemos   registrar   e   gravar   todos   os   dados
      fornecidos em toda comunicação realizada com nossa equipe, seja por
      correio eletrônico, mensagens, telefone ou qualquer outro meio.<br/><br/>

      • Endereço   eletrônico  (e-mail).  Ao   fazer   login   na   plataforma,
      coletaremos o seu e-mail para fins cadastrais, pelo qual ocorrerão as
      comunicações   de   atualizações   da   plataforma,   promoções   e
      gerenciamento de sua conta.<br/><br/>

      • Recebe   dados   de   terceiros,   como   Cadastro   Interno,   quando   um
      usuário   faz   login   com   o   seu   perfil.   A   utilização   desses   dados   é
      autorizada previamente pelos usuários junto ao terceiro em questão.<br/><br/>

      • Cookies. Registramos dados de sua visita à plataforma através de
      cookies e outras tecnologias de rastreamento incluindo seu endereço
      IP e nome de domínio, a versão do seu navegador e do seu sistema
      operacional, dados de tráfego online, dados de localização, logs da
      web e outros dados de navegação.<br/><br/>

      FINALIDADES: UTILIZAÇÃO DESTAS INFORMAÇÕES<br/><br/>

      Ao utilizar a plataforma você AUTORIZA EXPRESSAMENTE o uso destas
      informações para as seguintes FINALIDADES:<br/><br/>

      • Fornecer,   melhorar   e   desenvolver   os   Serviços
      disponíveis. Usamos cookies e tecnologias semelhantes para fornecer
      e   apoiar   nossos   Serviços,   através   da   personalização   do   conteúdo
      compartilhado,   para   garantir   que   o   conteúdo   da   plataforma   seja
      relevante.<br/><br/>

      • Construção de conteúdo. Todo conteúdo compartilhado, ou
      divulgado,   seja   através   de   comentários,   dicas   ou   sugestões   de
      melhorias compõem o banco de dados da plataforma viabilizando a
      melhoria e conhecimento do produto pelos demais usuários.<br/><br/>

      • Para   reorganizar   ou   fazer   mudanças   operacionais   e
      gerenciais da plataforma.  Os dados coletados serão utilizados na
      avaliação de eventuais negociações para a venda da plataforma a
      terceiros;   para   uma   eventual   reorganização   interna,   com   a
      transferência de dados a terceiros (ou seus assessores) como parte de
      um  processo  de  due diligence  com  a  finalidade  de  analisar  uma
      proposta de venda ou reorganização.<br/><br/>

      • Monitoramento   de   uso.   Utilizamos   seus   dados   para
      monitorar atividades e transações com a finalidade de garantir a
      qualidade do serviço, o atendimento à leis aplicáveis, o cumprimento
      de procedimentos e para combater a fraude.<br/><br/>

      • Obrigações legais. Compartilhamos seus dados com terceiros
      para cumprir exigências legais, regulatórias ou fiscais, envolvendo a
      divulgação   de   seus   dados   pessoais   a   terceiros,   a   um   tribunal,
      reguladores ou agências governamentais.<br/><br/>

      • Bem-estar do usuário e visitante: aprimorar o produto e/ou
      serviço   oferecido,   facilitar,   agilizar   e   cumprir   os   compromissos
      estabelecidos entre o usuário e a empresa, melhorar a experiência dos
      usuários   e   fornecer   funcionalidades   específicas   a   depender   das
      características básicas do usuário.<br/><br/>

      • Melhorias da plataforma: compreender como o usuário utiliza
      os   serviços   da   plataforma,   para   ajudar   no   desenvolvimento   de
      negócios e técnicas.<br/><br/>
      • Anúncios: apresentar anúncios personalizados para o usuário
      com base nos dados fornecidos.<br/><br/>
      • Comercial: os dados são usados para personalizar o conteúdo
      oferecido e gerar subsidio a plataforma para a melhora da qualidade
      no funcionamento dos serviços.<br/><br/>

      • Previsão do perfil do usuário: tratamento automatizado de
      dados pessoais para avaliar o uso na plataforma.<br/><br/>

      • Dados  de  cadastro:  para  permitir  o  acesso  do  usuário  a
      determinados   conteúdo   da   plataforma,   exclusivo   para   usuários
      cadastrados.<br/><br/>

      • Dados de contrato: conferir às partes segurança jurídica e
      facilitar a conclusão do negócio. <br/><br/>

      • O tratamento de dados pessoais para finalidades não previstas
      nesta Política de Privacidade somente ocorrerá mediante comunicação
      prévia ao usuário, de modo que os direitos e obrigações aqui previstos
      permanecem aplicáveis.<br/><br/>

      COMPARTILHAMENTO DE DADOS<br/><br/>

      Compartilhamos os seus dados para fins de viabilizar o processamento de
      dados, bem como para tornar o produto mais relevante e eficiente à sua
      finalidade.<br/><br/>

      ONDE ARMAZENAMOS E PROCESSAMOS SEUS DADOS<br/><br/>

      Os   dados   coletados   são   armazenados   e   processados   no   servidor
      EVEO <a href="https://www.eveo.com.br" target="_blank">https://www.eveo.com.br</a> para fins de melhorar o desempenho
      e proteger os dados no caso de uma falha ou outro problema.<br/><br/>

      RESPONSABILIDADES   DO   CONTROLADOR   E   MEDIDAS   DE
      SEGURANÇA <br/><br/>

      Todos os dados que você nos fornece são tratados unicamente para atingir
      as finalidades acima listadas. Estes dados são armazenados em servidores
      seguros nossos ou de fornecedores contratados, acessados e utilizados de
      acordo com nossas políticas e padrões de segurança. Todo o tráfego entre
      nossos   servidores   ou   entre   o   seu   computador   e   nossos   servidores   é
      encriptado através do protocolo seguro SSL ou semelhante.<br/><br/>

      Tomamos medidas de boas práticas e certificações existentes no mercado
      para garantir que os dados que coletamos sejam processados de acordo
      com segurança onde quer que os dados estejam localizados.<br/><br/>

      QUANTO TEMPO VAMOS ARMAZENAR SUAS INFORMAÇÕES<br/><br/>

      Nós manteremos as informações que coletamos de você até que
      ocorra a solicitação de exclusão definitiva por sua parte. Neste caso,
      nós cessaremos imediatamente a utilização dos seus dados para fins
      comerciais,   porém   armazenaremos   os   seus   dados   enquanto
      tenhamos obrigações legais, tributárias ou judiciais a cumprir com
      tais dados.<br/><br/>

      Os dados pessoais do usuário e visitante são armazenados pela plataforma
      durante   o   período   necessário   para   a   prestação   do   serviço   ou   o
      cumprimento das finalidades previstas no presente documento, conforme o
      disposto no inciso I do artigo 15 da Lei 13.709/18.<br/><br/>

      Os dados podem ser removidos ou anonimizados a pedido do usuário,
      excetuando os casos em que a lei oferecer outro tratamento.<br/><br/>

      Ainda, os dados pessoais dos usuários apenas podem ser conservados após
      o término de seu tratamento nas seguintes hipóteses previstas no artigo 16
      da referida lei:<br/><br/>

      I - cumprimento de obrigação legal ou regulatória pelo controlador;<br/><br/>
      II - estudo por órgão de pesquisa, garantida, sempre que possível, a
      anonimização dos dados pessoais;<br/><br/>
      III - transferência   a   terceiro,   desde   que   respeitados   os   requisitos   de
      tratamento de dados dispostos nesta Lei;<br/><br/>
      IV - uso exclusivo do controlador, vedado seu acesso por terceiro, e desde
      que anonimizados os dados.<br/><br/>

      DADOS DO ENCARREGADO PELOS DADOS<br/><br/>

      A gestão do seus dados é feita por Única Sistema que poderá ser uma
      pessoa física ou jurídica, com base no art. 5º, da Lei 13.853/2019 e você
      pode entrar em contato com o Encarregado pelos seus dados através do e-
      mail:
      <a href="mail:contato.unicasistemabr@gmail.com" target="_blank"> contato.unicasistemabr@gmail.com</a>
      Você também tem o direito de
      contatar diretamente a Autoridade de Proteção de Dados brasileira.<br/><br/>

      DIREITOS DO TITULAR DOS DADOS<br/><br/>
      O titular dos dados pessoais tem direito a obter do controlador, em relação
      aos dados do titular por ele tratados, a qualquer momento e mediante
      requisição:<br/><br/>
      I - confirmação da existência de tratamento;<br/><br/>
      II - acesso aos dados;<br/><br/>
      III - correção de dados incompletos, inexatos ou desatualizados;<br/><br/>
      IV - anonimização, bloqueio ou eliminação de dados desnecessários,
      excessivos ou tratados em desconformidade com o disposto nesta Lei;<br/><br/>
      V - portabilidade dos dados a outro fornecedor de serviço ou produto,
      mediante requisição expressa, de acordo com a regulamentação da
      autoridade nacional, observados os segredos comercial e industrial;<br/><br/>
      VI - eliminação dos dados pessoais tratados com o consentimento do titular,
      exceto nas hipóteses previstas no art. 16 da LGPD;<br/><br/>
      VII - informação das entidades públicas e privadas com as quais o
      controlador realizou uso compartilhado de dados;<br/><br/>
      VIII - informação sobre a possibilidade de não fornecer consentimento e
      sobre as consequências da negativa;<br/><br/>
      IX - revogação do consentimento, nos termos do § 5º do art. 8º da LGPD.<br/><br/>

      Os fornecedores podem ser localizados ou possuir instalações localizadas
      em países diferentes. Nessas condições, os dados pessoais transferidos
      podem se sujeitar às leis de jurisdições nas quais o fornecedor de serviço
      ou suas instalações estão localizados.<br/><br/>

      Ao   acessar   nossos   serviços   e   prover   suas   informações,   você   está
      consentindo   o   processamento,   transferência   e   armazenamento   desta
      informação em outros países.<br/><br/>

      Ao ser redirecionado para um aplicativo ou site de terceiros, você não será
      mais regido por essa Política de Privacidade ou pelos Termos de Serviço da
      nossa plataforma. Não somos responsáveis pelas práticas de privacidade de
      outros sites e lhe incentivamos a ler as declarações de privacidade deles.

      COMO ACESSAR E CONTROLAR SUAS INFORMAÇÕES PESSOAIS<br/><br/>

      Você   pode   solicitar   informações,   alteração,   esclarecimentos   ou
      exclusão   de   seus   dados   por   meio   do   contato:
      <a href="mail: contato.unicasistemabr@gmail.com." target="_blank"> contato.unicasistemabr@gmail.com.</a> Vamos exercer imediatamente as
      solicitações, nos termos da lei de proteção de dados aplicável.<br/><br/>

    </p>
</div>
