.filtro-container {
  margin-top: 20px;
}

label {
  margin-right: 10px;
}

select,
button {
  margin-right: 10px;
  padding: 4px 15px;
  border: solid 1px;
  border-radius: 30px;
  cursor: pointer;
}
